$clr-main: hsl(17, 83%, 54%);
$clr-main-300: hsl(17, 83%, 64%);
$clr-dark-700: hsl(40, 4%, 14%);
$clr-dark-500: hsl(34, 6%, 24%);
$clr-light-700: hsl(38, 16%, 76%);
$clr-light-500: hsl(52, 94%, 94%);
