@use "../../sass/global/" as *;
.movie-card {
  height: 80vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background-position: center !important;
  z-index: auto;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  cursor: pointer;
  border-radius: 0px !important;
  .backdrop {
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 0px !important;
    h1 {
      display: none;
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: underline;
      text-decoration-color: $clr-main;
      font-family: "Open Sans";
      font-size: medium;
    }
    p {
      display: none;
      color: white;
      text-align: center;
      font-size: small;
    }
    a {
      text-decoration: none;
    }
    button {
      display: none;
      font-weight: 400 !important;
      font-size: medium !important;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
      h1,
      p,
      button {
        display: block;
      }
    }
  }
}
