@use "../../sass/global/" as *;

.header-container {
  div {
    background-color: $clr-light-500;
  }
}

.title-container {
  padding-top: 56px;
  display: flex;
  min-height: 100vh;
  height: fit-content;
  flex-direction: column;
  justify-content: flex-start !important;
  @media screen and (max-width: 62em) {
    min-height: fit-content;
  }
  h1 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 7.125em;
    line-height: 174px;
    letter-spacing: 0.065em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: $clr-main;
    text-shadow: 5px 5px 0px #000000, 10px 10px 4px rgba(0, 0, 0, 0.25);
    @media screen and (max-width: 62em) {
      font-size: 3.5em;
    }
  }
}
.image-container {
  height: fit-content;
  padding-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: fit-content;
  @media screen and (max-width: 62em) {
    min-height: fit-content;
  }
  img {
    height: 450px;
    border: 3px solid $clr-dark-700;
  }
}
