@use "../../sass/global/" as *;

nav {
  #navbarSupportedContent {
    transition: all 0.2s ease 0s;
  }
}

nav {
  div {
    background-color: $clr-dark-700;
    .navbar-toggler {
      width: 20px;
      height: 20px;
      position: relative;
      transition: 0.5s ease-in-out;
      border: 0 !important;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
      outline: none !important;
      box-shadow: none !important;
      border: 0 !important;
    }

    .navbar-toggler span {
      margin: 0;
      padding: 0;
    }

    .toggler-icon {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: rgb(175, 0, 0);
      border-radius: 1px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
    }

    .middle-bar {
      margin-top: 0px;
    }

    /* State when the navbar is collapsed */

    .navbar-toggler.collapsed .top-bar {
      position: absolute;
      top: 0px;
      transform: rotate(0deg);
    }

    .navbar-toggler.collapsed .middle-bar {
      opacity: 1;
      position: absolute;
      top: 10px;
      filter: alpha(opacity=100);
    }

    .navbar-toggler.collapsed .bottom-bar {
      position: absolute;
      top: 20px;
      transform: rotate(0deg);
    }

    /* when navigation is clicked */

    .navbar-toggler .top-bar {
      top: inherit;
      transform: rotate(135deg);
    }

    .navbar-toggler .middle-bar {
      opacity: 0;
      top: inherit;
      filter: alpha(opacity=0);
    }

    .navbar-toggler .bottom-bar {
      top: inherit;
      transform: rotate(-135deg);
    }

    /* Color of 3 lines */

    .navbar-toggler.collapsed .toggler-icon {
      background-color: $clr-light-500;
    }
    div {
      .navbar-brand {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 800;
        letter-spacing: 0.065em;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: $clr-main;
        font-size: large;
        text-shadow: 2px 2px 0px #000000, 4px 4px 2px rgba(0, 0, 0, 0.25);
        &:visited {
          color: $clr-main;
        }
        &:hover {
          color: $clr-main-300;
        }
      }
    }
  }
}
